
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato.eot) format('embedded-opentype');

  src: local('Lato'), url(../fonts/Lato.woff2) format('woff2'),
  local('Lato'), url(../fonts/Lato.woff) format('woff'),
  local('Lato'), url(../fonts/Lato.svg) format('svg'),
  local('Lato'), url(../fonts/Lato.ttf) format('truetype');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/

}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway-Light.eot) format('embedded-opentype');

  src: local('Raleway'), url(../fonts/Raleway-Light.woff2) format('woff2'),
  local('Raleway'), url(../fonts/Raleway-Light.woff) format('woff'),
  local('Raleway'), url(../fonts/Raleway-Light.svg) format('svg'),
  local('Raleway'), url(../fonts/Raleway-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

.graphic {
  margin: 0 0 0 0;
  padding: 0;
  height: 18px;
  width: 100vw;
  opacity: .85;
}

.color-collection canvas,
.color-collection img {
  /*position: relative;*/
  top: 0;
}


#mask {
  position: absolute;
  height: 68rem;
  width: 11rem;
  top: 0;
  right: 30.36rem;
  z-index: 2;
}

#section {
  position: absolute;
  width: 45rem;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#profile {
  position: absolute;
  top: 11.5rem;
  right: 8.5rem;
  width: 27rem;
  border: .3rem solid #222; /*#222; f5f5f5*/
  z-index: 1;
}

.bottom {
  position: absolute;
  bottom: 0;
  z-index: 2;
}


#skills {
  position: relative;
  width: 100%;
  min-width: 700px;
  height: 27rem;
  bottom: 0;
  margin: auto auto;
  padding-top: 3rem;

  /*background: -webkit-linear-gradient(90deg, #133649 1%, #859398 99%);*/
  background: #859398; /* #222;*/

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#skills h2 {
  margin: auto auto;
  padding-bottom: 3rem;
  padding-top: 1rem;
  color: whitesmoke;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
}

.column-container {
  margin: auto auto;
  padding-right: 3rem;
}

.third {
  display: inline-block;
  margin: auto auto;
  width: 23%;
  padding-left: 10%;
  vertical-align: top;
  font-family: 'Raleway', sans-serif;
  font-size: 2.3rem;
  line-height: 130%;
  color: whitesmoke;

}

.projs-header {
  position: relative;
  width: 1150px;
  margin: 3rem auto 5.5rem auto;
  /*margin: auto auto;*/
  border-bottom: 1px solid #dddddd;
}

.projs-container {
  position: relative;
  width: 1150px;
  margin: auto auto;
}

.projs-header img {
  display: block;
  height: 3rem;
  margin: auto auto;
  padding-bottom: 2rem;
}

.padding { 
  padding-left: 3rem;
  padding-right: 3rem;
  display: inline-block;
}

.proj {
  position: relative;
  width: 300px;
  height: 300px;
  /*opacity: 0;*/
  display: inline-block;
  border: white 10px solid;
  box-shadow: 0 1px 2px #cccccc;
  background-color: transparent;
  cursor: pointer;

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.overlay {
  width: 26.5rem;
  height: 26.5rem;
  position: absolute;
  padding: 2rem;
  opacity: 0;
  text-align: center;
/*  background-image: url('../img/icon_white.svg');
  background-size: 8rem 8rem;
  background-repeat: no-repeat;
  background-position: center;*/
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;

  -webkit-transition: opacity .3s;
  -safari-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;

  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.proj img {
  /*width: 30rem;*/
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.filmstrip {
  width: 100%;
  height: 18rem;
  bottom: 4rem;
  margin: auto auto;
  background-color: #222;#859398;
}

.container {
  position: absolute;
  width: 80%;
  min-width: 50rem;

  /*width: 90rem;*/

  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
}

.container img {
  width: 20rem;
  min-width: 200px;
  margin: 1rem 1rem;
  /*border: #9bcfd0 10px solid;*/
}

#map {
  position: absolute;
  right: 5rem;
  top: 68%;
  width: 30rem;
  z-index: 3;
}

.contact {
  position: absolute;
  right: 1rem;
  top: 30%;
/*  right: 80px;*/
  margin-top: 2rem;
  padding: 8rem;
  width: 20rem;
  font-family: 'Lato';
  font-size: 2.5rem;
  line-height: 130%;
  color: #859398;
  z-index: 3;
}

.contact-icons {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.contact-icons img {
  position: relative;
  margin: 10px 5px auto 5px;
  width: 3rem;
  height: 3rem;
  opacity: .6;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.contact-icons img:hover {
    opacity: 1;
}

#icon {
  position: absolute;
  right: 30px;
  width: 150px;
  margin-top: 1.5rem;
  opacity: .1;
}

.copyright {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  padding-top: 1rem;
  font-family: Georgia;
  font-size: 1.3rem;
  color: gray;
  text-align: center;
  background-color: #222;
  border-top: 1px solid gray;
  z-index: 2;
    background-image: url('../img/bg-body.png');
}

#modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(204,204,204,.7);

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.modal {
  /*opacity: 0;*/
  position: absolute;
  left: 50%;
  top: 95rem;
  width: 65rem;
  height: 39rem;
  border-radius: 10px;
  background-color: white;
  z-index: 3;
  font-family: Lato;
  color: #666;
  font-size: 1.9rem;
  padding: 4rem;
  box-shadow: 0 10px 10px #999999;

  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);

  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

#minimize {
  position: absolute;
  top: 95rem;
  left: 50%;
  padding: 1rem;
  font-family: Raleway;
  font-size: 2.5rem;
  z-index: 4;
  color: gray;
  text-align: center;
  cursor: default;

  -webkit-transform: translate3d(31.5rem,1.3rem,0);
  transform: translate3d(31.5rem,1.3rem,0);
}

#email {
  text-decoration: none;
  border-bottom: 1px solid #544733;
  font-size: 1.7rem;
}

#email:hover {
  border-bottom: 1px solid #b58f51;
}

.contact-header {
  margin-bottom: 1rem;
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  color: whitesmoke;
}

#about-header {
  width: 65%;
  top: 6rem;
  position: relative;
}

#about-header img {
  position: relative;
  height: 4rem;
  width: 35%;
  margin: auto auto;
  padding-bottom: 1rem;
  display: block;
  border-bottom: 1px solid #27272d;
  z-index: 3;
}

#about {
  top: 15rem;
  width: 65%;
  position: absolute;
  z-index: 3;

}

#about img {
  width: 70%;
  display: block;
  margin: auto auto;
  z-index: 3;
}
